
@{

    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Craigsist By Mic</h1>
    <p class="lead">BLBLBLBLBLBLBLBLBL</p>
    
</div>


<div class="col-md-4">
<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Furniture
</a>
<div class="collapse" id="collapseExample">
    <div class="card card-block">
       

 @using (Html.BeginForm())
 {
     foreach (var cat in ViewBag.FurnitureSub)
     {
            <div id="LeftColumn" style="float: Left; padding-left: 50px;">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Furniture Sub Catagory</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@cat.Title</td>
                        </tr>
                    </tbody>
                </table>
            </div>
          
     }
 }
        </div>
</div>
</div>