
@{

    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Craigsist By Mic</h1>
    <p class="lead">BLBLBLBLBLBLBLBLBL</p>

</div>


<div class="col-md-4">
    <h3>
        <a class="btn btn-lg" data-toggle="collapse" href="#collapseFurniture" aria-expanded="false" aria-controls="collapseExample">
            Furniture
        </a>
    </h3>
    <div class="collapse" id="collapseFurniture">
        <div class="card card-block">
            @using (Html.BeginForm())
            {
                foreach (var cat in ViewBag.FurnitureSub)
                {
                    <br />
                    <h4>&nbsp;&nbsp;&nbsp;<a class="text-info" href=@Url.Action("Index", "Post", new { id = cat.Id })>@cat.Title</a></h4>

                }
            }
        </div>
    </div>
</div>

<div class="col-md-4">
    <h3>
        <a class="btn btn-lg" data-toggle="collapse" href="#collapseElectronics" aria-expanded="false" aria-controls="collapseExample">
            Electronics
        </a>
    </h3>
    <div class="collapse" id="collapseElectronics">
        <div class="card card-block">
            @using (Html.BeginForm())
            {
                foreach (var cat in ViewBag.ElectronicsSub)
                {
                    <br />
                    <h4>&nbsp;&nbsp;&nbsp;<a class="text-info" href=@Url.Action("Index", "Post", new { id = cat.Id })>@cat.Title</a></h4>
                }
            }
        </div>
    </div>
</div>

<div class="col-md-4">
    <h3>
        <a class="btn btn-lg" data-toggle="collapse" href="#collapseAutomotive" aria-expanded="false" aria-controls="collapseExample">
            Automotive
        </a>
    </h3>
    <div class="collapse" id="collapseAutomotive">
        <div class="card card-block">
            @using (Html.BeginForm())
            {
                foreach (var cat in ViewBag.AutomotiveSub)
                {
                    <br />
                    <h4>&nbsp;&nbsp;&nbsp;<a class="text-info" href=@Url.Action("Index", "Post", new { id = cat.Id })>@cat.Title</a></h4>

                }
            }
        </div>
    </div>
</div>